/************
index.html
 ***********/
.center-div {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/*@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');*/
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Rubik', sans-serif;
    --font-serif: 'Cardo', serif;
}
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    display: grid;

}
.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--font-sans);
}
@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(5, 1fr);
    }
}
.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
    .card {
        height: 350px;
    }
}
.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}
.card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
    background-image: url(/src/img/20160909_200003.jpeg);
}
.card:nth-child(2):before {
    background-image: url(/src/img/quentin.jpeg);
}
.card:nth-child(3):before {
    background-image: url(/src/img/portfolio.jpeg);
}
.card:nth-child(4):before {
    background-image: url(/src/img/art.jpg);
}
.card:nth-child(5):before {
    background-image: url(/src/img/photoCV.jpeg);
}
.card:nth-child(6):before {
background-image: url(/src/img/logo_e-commerce.bmp);
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}
.content > * + * {
    margin-top: 1rem;
}
.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}
.content .title {
    color:white;
    font-size: 25px;
}
.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}
.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}
.btn:hover {
    background-color: #0d0d0d;
}
.btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}
@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }
    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
    .card:hover, .card:focus-within {
        align-items: center;
    }
    .card:hover:before, .card:focus-within:before {
        transform: translateY(-4%);
    }
    .card:hover:after, .card:focus-within:after {
        transform: translateY(-50%);
    }
    .card:hover .content, .card:focus-within .content {
        transform: translateY(0);
    }
    .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }
    .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
        transition-duration: 0s;
    }
}



/*********
Quentin
*********

@import url('https://fonts.googleapis.com/css?family=Chathura&display=swap');*/
html {
    --main-bg-color: #070707;
    --font: 'Chathura', sans-serif;
}
body {
    font-size: 14px;
    font-family: var(--font);
}
#wrapper {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--main-bg-color);
}
#svg-container {
    width: 340px;
}
.inner-container {
    position: relative;
}

/*********
test popup
 ********/
h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #df691a;;
    margin: 80px 0;
}

.box {
    width: 20%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1.2sem;
    padding: 10px;
    color: #fff;
    border: 2px solid #df691a;;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #df691a;;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
    width: 45%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    font-size : 20px;
    color: white;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top : 0px;
    right: 30px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.popup .close:hover {
    color: #df691a;;
}
.popup .content {
    max-height: 25%;
    overflow: auto;
    font-size : 15px;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}